.WeatherInfo h1 {
  line-height: 30px;
}

.WeatherInfo h5 {
  line-height: 25px;
}

.WeatherInfo .tempInfo {
  font-size: 50px;
}

.WeatherInfo .tempConversion {
  font-size: 60px;
}

.WeatherInfo .tempUnit {
  position: relative;
  top: -25px;
  left: -8px;
}

.WeatherInfo .current-temp {
  position: relative;
  top: 12px;
}

.WeatherInfo .weatherData {
  position: relative;
  top: 32px;
}
